DATABASE_URL=postgresql://user:password@host:5432/dbname
JWT_SECRET=seu_jwt_secret_muito_seguro_aqui
JWT_EXPIRES_IN=7d
AUTHORIZED_EMAIL_DOMAINS=@educacao.mg.gov.br,@escola.com
APPLE_CLIENT_ID=br.edu.eecjvs.agendamento
ADMIN_1_EMAIL=escola.184381.especialista@educacao.mg.gov.br
ADMIN_1_PASSWORD_HASH=$2b$10$...hash_bcrypt_aqui...
ADMIN_2_EMAIL=escola.184381.pedagogico@educacao.mg.gov.br
ADMIN_2_PASSWORD_HASH=$2b$10$...hash_bcrypt_aqui...
PORT=3000
NODE_ENV=development
